name: RUN GENZ

on:
  workflow_dispatch:

jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.generate.outputs.matrix }}
    steps:
      - name: Checkout private tools
        uses: actions/checkout@v4
        with:
          repository: john4650-hub/Hello-Android-CI
          token: ${{ secrets.TK }}
      - name: set_up mega and get image prompts
        run: |
          chmod +x scripts/*.sh
          ./scripts/mega_nz.sh
          mega-get /Content/prompts.json ./

      - name: Move files to root and generate Matrix
        id: generate
        run: |
          prompts_count=$(jq 'keys | length' ./prompts.json)
          MATRIX=$(seq 0 $(( prompts_count - 1 )) | jq -c '[inputs]')
          echo "::set-output name=matrix::$MATRIX"

  proccess-json-data:
    needs: generate-matrix
    runs-on: ubuntu-latest
    strategy:
      matrix:
        chunk_id: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}
    steps:
      - name: Maximize build space
        uses: AdityaGarg8/remove-unwanted-software@v5
        with:
          remove-android: 'true'
          remove-dotnet: 'true'
          remove-codeql: 'true'
          remove-cached-tools: 'true'
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          repository: john4650-hub/Hello-Android-CI
          token: ${{ secrets.TK }}

      - uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 5
          shell: bash
          command: ls


      - name: install ffmpeg
        uses: animMouse/setup-ffmpeg@v1

      - name: install deps and start comfyui server
        run: |
          chmod +x scripts/*.sh
          ./scripts/comfyui-api.sh 1

      - name: set_up mega and get image prompts
        run: |
          ./scripts/mega_nz.sh

      - name: Generate files using GPU from API call
        run: |
          mega-get /Content/prompts.json ./
          python scripts/pyScripts/automateImageGen.py ${{ matrix.chunk_id }}
          while true; do
            png_count=$(find ComfyUI/output -type f -name "*.png" | wc -l)
            if [[ $png_count -ge 1 ]]; then
              dir=$(jq -r .dir prompts.json)
              mega-put -c ComfyUI/output/* "/Content/$dir/samples" 
            fi
            sleep 60
          done

